

ul.lista :last-child {
    background-color: rgb(168, 168, 214);
}

ul.lista :nth-last-of-type(even) {
    text-decoration: underline green;
}

ul.lista li {
    display: inline;
    text-align: center;
    margin-left: 10px;
}

ul.lista li::after {
    
}

ul.lista [lang="en"] {
    font-size: 200%;
    text-transform: uppercase;
    }

ul#provincias li:not(:nth-of-type(2)) {
    list-style-type:lower-roman;
}
