* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
      padding: 2rem;
      background-color: black;

  }

  body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    
  }

  header {
    color: white;
    text-align: center;
    padding bottom: 2rem;
     }

  main {
    background-color: white;
    padding: 1rem 2rem;
                
  }
  
  overflow: scroll;

  section {
    text-align: left;
    margin: 2rem;
}
    
  section img {
    width: 15rem;
    height: 15rem;
    padding-top: 1rem;
    
  } 
            
  h3 {
      color: rgb(139, 138, 138);
      border-bottom: 2px solid rgb(139, 138, 138);
      padding-bottom: 0,9rem;
      
     }
 
  form {
     margin: 1rem 0 ;
          
     }

  form label {
       display: block;
       padding-bottom: 1rem;
  }

  p, h2 {
    margin: 1rem 0;
 }

 input, textarea {
  background-color: rgb(136, 131, 131);
       
  }

  button {
     margin-bottom: 2rem;
     background-color: black;
     border: none;
     font-size: 1rem;
     text-align: center;
     color: white;
     padding: 10px 22px;
     }

@media (min-width: 600px) {
 
  html {
    background-color: white;
  }
 
  header {
    text-align: left;
    background-color: black;
    padding: 1rem 2rem;
    
  }

  h1 {
    padding-top: 4rem;
  }

     section img { 
       vertical-align: right;
       float: right;
       width: 10rem;
       height: 10rem;
       margin: 2rem 0;
     }

    }