* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(248, 169, 78);
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 10rem 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  grid-template-areas:
    "header header header"
    "main main main";

  width: 100%;
}

header {
  height: 40rem;
  grid-area: header;
}

header h1 {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 600%;

  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;

  grid-area: main;
}

body section {
  width: 15rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.596);
  margin: 1rem;
}

section img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 50%;

  margin: 1rem 4rem;
}

img#ico {
  width: 2rem;
  height: 2rem;

  margin: 1rem 1.2rem;
}

div:first-child {
  background-color: white;
  justify-content: center;
}

div:last-child {
  background-color: rgb(146, 82, 189);
  color: white;
  text-align: left;
  padding: 1rem;
}

div:first-child p {
  font-weight: bold;
  text-align: center;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

section:hover {
  transform: scale(1.5, 1.5);
  transition-property: transform;
  transition-duration: 500ms;
}
