* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Body {
  font-size: medium;
}

form {
  min-width: 400px;
  max-width: 800px;
  margin: auto auto;
  padding-top: 10rem;
}

p,
button {
  margin: 1rem;
}

:required {
  border-color: red;
}

fieldset {
  background-color: rgb(177, 175, 175);
  padding: 1rem;
  font-size: larger;
}

fieldset:hover {
  background-color: grey;
}

fieldset:first-child,
fieldset:last-child {
  border-bottom: 5px black solid;
}

button {
  background-color: black;
  border: none;
  font-size: 1rem;
  text-align: center;
  color: white;
  padding: 10px 22px;
}
